<div *ngIf="myPendingAssetRequest">
<div class="wrapper"  >    <!--Start of wrapper class-->
    <div class="fresh-table full-color-orange full-screen-table">    <!--Start of table-->

      <div class="fixed-table-toolbar">                                              <!--Search bar-->
        <div class="pull-left search"><input class="form-control" type="text" placeholder="Search" [(ngModel)] = "searchTerm" (ngModelChange) = "search()"></div>
        <div class="col-lg-1 pull-left">
          <select class="col custom-select form-control select" [(ngModel)]="noOfitem" name="choice" id="choice"  >
          <option class="option" *ngFor="let noOfitem of MyList" [ngValue]="noOfitem">{{noOfitem}}</option>
          </select>
          </div>
      </div>                                                <!--Search Bar ENDS-->
      
      <table id="fresh-table" class="table table-responsive ">
        <thead >                                              <!--Table head BEGINS-->
          <tr >                                                <!--First row BEGINS-->
            <th class="text-color">Company Code</th>
            <th class="text-color">Asset Code</th>
            <th class="text-color">Capitalisation Date</th>
            <th class="text-color">Description</th>
            <th class="text-color">Location</th>
            <th class="text-color">AssetOf</th>
          </tr>                                                 <!--First row ENDS-->
        </thead>                                              <!--Table head ENDS-->
        <tbody>                                                 <!--Table body BEGINS-->
          <tr *ngFor="let notify of myPendingAssetRequest | paginate:{ itemsPerPage:noOfitem, currentPage:p}">                                                     <!--Second row BEGINS-->
            <td>{{notify.companyCode}}</td>
            <td>{{notify.assetCode}}</td>
            <td>{{notify.capitalisationDate | date}}</td>
            <td>{{notify.description}}</td>
            <td>{{notify.location}}</td>
            <td>{{notify.employeeCode}}</td>    
          </tr>                                                 <!--Second row ENDS-->
        </tbody>                                              <!--Table body ENDS-->
      </table>                                                <!--Table ENDS-->
      <div class="fixed-table-pagination">                     <!--Pagination BEGINS-->
        <div class="pull-left pagination-detail">
          <span class="pagination-info"></span>
          <span class="page-list">
            <span class="btn-group dropup">
              
            </span> 
          </span>
        </div>
            <pagination-controls class="pag-align" (pageChange)="p=$event"></pagination-controls>
      </div> <!--pagination ENDS -->
      
    </div> <!--fresh table ENDS -->
  </div> <!--wrapper ENDS -->
</div>